@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul, li {
    list-style: none;
}

:root{
    --primary-color:#ffff;
    --details-color: #3347B0;
    --cursando-color: #3347B0;
    --finalizado-color: #E5B657;
}

body{
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: calc(100dvh + 90px);
    max-width: 100dvw;
    font-family: 'Roboto', sans-serif;
}

button{
    border: none;
    cursor: pointer;
}